		<p>&nbsp;</p>

		<button type="submit" class="btn btn-large btn-success">Lagre</button>
		<p>&nbsp;</p>
	</form>
</div>
{% if not content is empty %}
	<form method="POST" action="">
	    <input type="hidden" name="deletePage" value="true" />
		<button type="submit" class="btn btn-small btn-danger">Slett tilpasset forside</button><br /><br />
		<div class="small"><p><em>OBS: Dette vil slette alt du har skrevet her - sørg for å lagre en kopi!</em></p></div>
	</form>
{% endif %}
