<h1>Info om UKM i ditt lokalmiljø</h1>

{% embed "message.html.twig" %}{% endembed %}

<p class="lead">
	Bruk denne siden til praktisk info om gjennomføringen eller din UKM-aktivitet gjennom hele året.
</p>

<p>
	Det du lager her finner du på <a href="{{ monstringsLink }}" target="_blank">siden din</a>. Når siden fylles opp med nyheter, eller mønstringen nærmer seg, vises denne siden som menyvalget "informasjon".
</p>

<div style="width:95%">
	<form method="POST">