<div class="forside-header" style="background-image: url('{{ image }}'); background-position-y: {{ image_position_y == 'bottom' ? '95%' : image_position_y }}">
    <div class="forside-header-content">
        <img src="https://grafikk.ukm.no/profil/logoer/UKM_logo_hvit_0100.png" />
        <p>{{ monstring.getNavn() }}</p>
    </div>
</div>
<div class="forside-body">
    <h2>Hva er UKM?</h2>
    <p class="lead">
        Ønsker du å skape noe, møte likesinnede og utvikle talentet ditt? UKM er en møteplass for ungdom og kultur, der vi skaper noe sammen. 
    </p>

    <p>
        Her kan du vise frem det du brenner for, eller hjelpe andre å bli sett. I UKM er alle kulturelle uttrykk velkomne, enten det er sang, fotokunst, cosplay eller moderne dans. 
    </p>

    <p>
        Vi er her for å gi deg muligheten til å drive med det som interesserer deg! Kanskje oppdager du også noe nytt? Hos oss kan du være den du vil. 
    </p>
</div>